# MongoDB + Jupyter Demo

In this notebook, we will connect to the database, insert some data, and make a query

In [6]:
from pymongo import MongoClient
import pandas as pd

### Connect to MongoDB

In [7]:
client = MongoClient(host='mongodb', port=27017)
db = client['mydatabase']  # Create or switch to a database
collection = db['mycollection']  # Create or switch to a collection

### Insert a document into the collection

In [8]:
collection.insert_one({ 'name': 'Alice', 'age': 30 })

InsertOneResult(ObjectId('66f8806a80086dd60f525cd9'), acknowledged=True)

### Query the collection

In [9]:
collection.find_one({ 'name': 'Alice' })

{'_id': ObjectId('66f87ef07ab6630b014c56a3'), 'name': 'Alice', 'age': 30}

### Insert and Query Multiple Documents

In [11]:
collection.insert_many([
    { 'name': 'Bob', 'age': 25 },
    { 'name': 'Charlie', 'age': 35 }
])

pd.DataFrame(list(collection.find()))

                         _id     name  age
0   66f87ef07ab6630b014c56a3    Alice   30
1   66f87ef17ab6630b014c56a4      Bob   25
2   66f87ef17ab6630b014c56a5  Charlie   35
3   66f8806280086dd60f525cd5    Alice   30
4   66f8806280086dd60f525cd6      Bob   25
5   66f8806280086dd60f525cd7  Charlie   35
6   66f8806a80086dd60f525cd9    Alice   30
7   66f8806a80086dd60f525cda      Bob   25
8   66f8806a80086dd60f525cdb  Charlie   35
9   66f8813580086dd60f525cdc      Bob   25
10  66f8813580086dd60f525cdd  Charlie   35