# MariaDB Demo

In this notebook, we'll connect to a MariaDB database, create a table, insert some data, and query it.

In [4]:
import mariadb
import pandas as pd

### Connect to MariaDB

In [5]:
conn = mariadb.connect(
    host='mariadb',
    user='user',
    password='password',
    database='demo_db'
)
cursor = conn.cursor()

### Create a Table

In [6]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS people (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100),
    age INT
)
''')
conn.commit()

### Insert Data

In [7]:
cursor.execute("INSERT INTO people (name, age) VALUES ('Alice', 30)")
cursor.execute("INSERT INTO people (name, age) VALUES ('Bob', 25)")
cursor.execute("INSERT INTO people (name, age) VALUES ('Charlie', 35)")
conn.commit()

### Query the Table

In [8]:
cursor.execute("SELECT * FROM people")
rows = cursor.fetchall()
df = pd.DataFrame(rows, columns=['ID', 'Name', 'Age'])
df

   ID     Name  Age
0   1    Alice   30
1   2      Bob   25
2   3  Charlie   35

### Close the Connection

In [9]:
cursor.close()
conn.close()